@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    font-family: Poppins;
}

.invalid-tooltip {
    position: relative !important;
}

.marginright {
    margin-right: 40px;
}

.marginleft {
    margin-left: 40px;
}