@import url('https://fonts.googleapis.com/css?family=Poppins');
body{
    font-family: Poppins;
}
/* navbar */
.navbar{
    background-color:#0E284E !important;
}
.nav-link{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
}
.nav-link:hover{
    color: white;
}
.grocery-img{
    width: 60%;
    margin: 1rem auto;
}

.price{
    position: absolute;
    right: 0;
    margin-right: 1rem;
}

/* product list */
.btn-primary {
    background: linear-gradient(90deg, #9372EA 0%, #CD4AC5 52.08%, #D88350 100%);
     border: none;
}

.product-list {
    background-color: #061023;
    color: #F2F2F2;
}

.card {
    background-color: #061023;
    border-radius: 24px;
}

.card:hover {
    background-color: #071A36;
}

#grocery, #beauty, #clothes {
    justify-content: center;
}

/* modal checkout cart */

.modal{
    color: #061023;
}

.cart-item {
    display: grid;
    grid-template-columns: 80px auto;
    align-items: center;
    grid-gap: 16px;
    background-color: #f3f1f1;
    border: 1px solid #e1dbdb;
    margin-bottom: 10px;
    border-radius: 8px;
    padding: 16px;
}

.picture-item{
    height: 80px;
    background-color: #ffffff;
    border: 1px solid #e1dbdb;
    border-radius: 8px;
}

.cart-name{
    font-size: 18px;
    font-weight: 800;
}

.cart-info {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}

.cart-smallinfo {
    display: flex;
    align-items: center;
}

.subtotal {
    display: flex;
    align-items: center;
}

.cart-price, .cart-quantity {
    color: grey;
}

.cart-discount {
    color: red;
    margin-left: 16px;
}

.cart-quantity {
    margin: 0 10px;
}

.cart-price {
    margin-right: 24px;
}

.cart-subtotal, .cart-discount, .total-price, .total-tittle {
    font-size: 18px;
    font-weight: 800;
}

.striked {
    text-decoration: line-through;
    color: grey;
}

.total-price {
    display: flex;
    justify-content: flex-end;
}

.small-button-card {
    border-radius: 3px;
    background-color: white;
    border: 1px solid #dfdfdf;
}